body {
  padding-top: 200px;
}

#block {
  width: 200px;
  height: 200px;
  border: 1px dashed black;
  margin: 0 auto;
}

.green {
  background-color: green;
}
.red {
  background-color: red;
}
.black {
  background-color: black;
}
